.tabela-produtos-mov{
   width: 100%;
}

 td, th {
   border: 1px solid #A9335D;
   text-align: left;
 }
 
 tr:nth-child(even) {
   background-color: #A9335D;
   color: #fff;
   font-weight: bold;
 }

 .header-movs{
  margin-bottom: 5%;
 }