.tabela-produtos-mov{
   width: 100%;
}

 td, th {
   border: 1px solid #FE9CCC;
   text-align: left;
 }
 
 tr:nth-child(even) {
   background-color: #FE9CCC;
   color: #000;
 }

 .header-movs{
  margin-bottom: 5%;
 }