.main-home {
   min-height: 100vh;
}

.botao-sair {
   background: #FE9CCC;
   color: #fff;
   border: none;
}

.header-home {
   box-shadow: 5px 5px 5px #1E1E1E;
   padding: 0;
   background: #fff;
}

.opcao-sair {
   margin-top: 0.5%;
   margin-right: 5%;
   display: inline;
   float: right;
   display: flex;
   align-items: center;
}

.opcoes {
   background: #FE9CCC;
   color: #fff;
}

.home-main {
   margin: 24px 16px;
   padding: 24px;
   min-height: 280;
   background: #fff;
}